<%= simple_form_for(@equipment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :borrowing_date %>
    <%= f.input :returning_date %>
    <%= f.input :borrowing_time %>
    <%= f.input :returning_time %>
    <%= f.input :location %>
    <%= f.input :owner %>
    <%= f.input :rule %>
    <%= f.input :category %>
    <%= f.input :availability %>
    <%= f.input :quantity %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
