<p id="notice"><%= notice %></p>

<h1>Equipment</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Borrowing date</th>
      <th>Returning date</th>
      <th>Borrowing time</th>
      <th>Returning time</th>
      <th>Location</th>
      <th>Owner</th>
      <th>Rule</th>
      <th>Category</th>
      <th>Availability</th>
      <th>Quantity</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment.name %></td>
        <td><%= equipment.borrowing_date %></td>
        <td><%= equipment.returning_date %></td>
        <td><%= equipment.borrowing_time %></td>
        <td><%= equipment.returning_time %></td>
        <td><%= equipment.location %></td>
        <td><%= equipment.owner %></td>
        <td><%= equipment.rule %></td>
        <td><%= equipment.category %></td>
        <td><%= equipment.availability %></td>
        <td><%= equipment.quantity %></td>
        <td><%= equipment.user %></td>
        <td><%= image_tag(equipment.picture)%></td>
        <td><%= link_to 'Show', equipment %></td>
        <td><%= link_to 'Edit', edit_equipment_path(equipment) %></td>
        <td><%= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment', new_equipment_path %>
